*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-family: Arial, sans-serif;
   background: #f4f4f4;
   padding: 40px;
   text-align: center;
}

.title {
   margin-bottom: 20px;
   color: #0b73ec;
}

.upload-area {
   border: 2px dashed #777;
   width: 350px;
   height: 180px;
   background: white;
   border-radius: 10px;
   margin: auto;
   margin-bottom: 20px;
   cursor: pointer;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   transition: .3s;
}

.upload-area:hover {
   background: #f0f0f0;
}

.upload-area.active {
   border-color: #0b73ec;
   background: #e6f2ff;
   color: #0b73ec;
}

.error {
   color: red;
   font-weight: bold;
   margin-bottom: 10px;
   height: 20px;
}

.progress {
   width: 300px;
   height: 12px;
   background: #ddd;
   border-radius: 10px;
   margin: 10px auto;
   display: none;
}

.progress-fill {
   height: 100%;
   width: 0%;
   background: #0b73ec;
   border-radius: 10px;
   transition: width .2s;
}
.loader {
   border: 4px solid #ddd;
   border-top: 4px solid #0b73ec;
   width: 30px;
   height: 30px;
   margin: 10px auto;
   border-radius: 50%;
   animation: spin 1s linear infinite;
   display: none;
}

@keyframes spin {
   0% { transform: rotate(0deg);}
   100% { transform: rotate(360deg);}
}

/* Preview grid */
.preview-container {
   margin-top: 20px;
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
   gap: 20px;
   padding: 10px;
}

.preview-container img {
   width: 100%;
   height: auto;
   border-radius: 10px;
   box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.clear-btn {
   margin-top: 25px;
   padding: 10px 20px;
   background: red;
   color: white;
   border: none;
   border-radius: 6px;
   cursor: pointer;
   font-size: 16px;
}
 